/* Reset some default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #f8f9fa; /* light gray background */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #212529; /* Bootstrap default text color */
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}
